#### Задание 1**
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

#### Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

12345
'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

Результат классификации запишите в отдельный столбец region.

#### Задание 3 (бонусное)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл movies.csv и ratings.csv из базы grouplens.org.../movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

    В переменную years запишите список из всех годов с 1950 по 2010.

    Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:
        для каждой строки пройдите по всем годам списка years
        если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
        если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год

    Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

    Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

### Задание 1**
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:

оценка 2 и меньше - низкий рейтинг
оценка 4 и меньше - средний рейтинг
оценка 4.5 и 5 - высокий рейтинг
Результат классификации запишите в столбец class

In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv('movies.csv')
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9120,162672,Mohenjo Daro (2016),Adventure|Drama|Romance
9121,163056,Shin Godzilla (2016),Action|Adventure|Fantasy|Sci-Fi
9122,163949,The Beatles: Eight Days a Week - The Touring Y...,Documentary
9123,164977,The Gay Desperado (1936),Comedy
9124,164979,"Women of '69, Unboxed",Documentary

In [3]:
ratings = pd.read_csv('ratings.csv')
ratings

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]

In [4]:
joined = ratings.merge(movies, how='left', on='movieId')
joined

,userId,movieId,rating,timestamp,title,genres
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama
1,1,1029,3.0,1260759179,Dumbo (1941),Animation|Children|Drama|Musical
2,1,1061,3.0,1260759182,Sleepers (1996),Thriller
3,1,1129,2.0,1260759185,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller
4,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama
...,...,...,...,...,...,...
99999,671,6268,2.5,1065579370,Raising Victor Vargas (2002),Comedy|Drama|Romance
100000,671,6269,4.0,1065149201,Stevie (2002),Documentary
100001,671,6365,4.0,1070940363,"Matrix Reloaded, The (2003)",Action|Adventure|Sci-Fi|Thriller|IMAX
100002,671,6385,2.5,1070979663,Whale Rider (2002),Drama
100003,671,6565,3.5,1074784724,Seabiscuit (2003),Drama

In [5]:
def ratings_sorted(by_value):
    by_value.loc[(by_value.rating <= 2), 'class'] = 'низкий рейтинг'
    by_value.loc[(by_value.rating <= 4) & (by_value.rating > 2), 'class'] = 'средний рейтинг'
    by_value.loc[(by_value.rating > 4), 'class'] = 'высокий рейтинг'
    return by_value

In [6]:
ratings_sorted(joined).head(40)

,userId,movieId,rating,timestamp,title,genres,class
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama,средний рейтинг
1,1,1029,3.0,1260759179,Dumbo (1941),Animation|Children|Drama|Musical,средний рейтинг
2,1,1061,3.0,1260759182,Sleepers (1996),Thriller,средний рейтинг
3,1,1129,2.0,1260759185,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller,низкий рейтинг
4,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama,средний рейтинг
5,1,1263,2.0,1260759151,"Deer Hunter, The (1978)",Drama|War,низкий рейтинг
6,1,1287,2.0,1260759187,Ben-Hur (1959),Action|Adventure|Drama,низкий рейтинг
7,1,1293,2.0,1260759148,Gandhi (1982),Drama,низкий рейтинг
8,1,1339,3.5,1260759125,Dracula (Bram Stoker's Dracula) (1992),Fantasy|Horror|Romance|Thriller,средний рейтинг
9,1,1343,2.0,1260759131,Cape Fear (1991),Thriller,низкий рейтинг
10,1,1371,2.5,1260759135,Star Trek: The Motion Picture (1979),Adventure|Sci-Fi,средний рейтинг
11,1,1405,1.0,1260759203,Beavis and Butt-Head Do America (1996),Adventure|Animation|Comedy|Crime,низкий рейтинг
12,1,1953,4.0,1260759191,"French Connection, The (1971)",Action|Crime|Thriller,средний рейтинг
13,1,2105,4.0,1260759139,Tron (1982),Action|Adventure|Sci-Fi,средний рейтинг
14,1,2150,3.0,1260759194,"Gods Must Be Crazy, The (1980)",Adventure|Comedy,средний рейтинг
15,1,2193,2.0,1260759198,Willow (1988),Action|Adventure|Fantasy,низкий рейтинг
16,1,2294,2.0,1260759108,Antz (1998),Adventure|Animation|Children|Comedy|Fantasy,низкий рейтинг
17,1,2455,2.5,1260759113,"Fly, The (1986)",Drama|Horror|Sci-Fi|Thriller,средний рейтинг
18,1,2968,1.0,1260759200,Time Bandits (1981),Adventure|Comedy|Fantasy|Sci-Fi,низкий рейтинг
19,1,3671,3.0,1260759117,Blazing Saddles (1974),Comedy|Western,средний рейтинг
20,2,10,4.0,835355493,GoldenEye (1995),Action|Adventure|Thriller,средний рейтинг
21,2,17,5.0,835355681,Sense and Sensibility (1995),Drama|Romance,высокий рейтинг
22,2,39,5.0,835355604,Clueless (1995),Comedy|Romance,высокий рейтинг
23,2,47,4.0,835355552,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,средний рейтинг
24,2,50,4.0,835355586,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,средний рейтинг
25,2,52,3.0,835356031,Mighty Aphrodite (1995),Comedy|Drama|Romance,средний рейтинг
26,2,62,3.0,835355749,Mr. Holland's Opus (1995),Drama,средний рейтинг
27,2,110,4.0,835355532,Braveheart (1995),Action|Drama|War,средний рейтинг
28,2,144,3.0,835356016,"Brothers McMullen, The (1995)",Comedy,средний рейтинг
29,2,150,5.0,835355395,Apollo 13 (1995),Adventure|Drama|IMAX,высокий рейтинг
30,2,153,4.0,835355441,Batman Forever (1995),Action|Adventure|Comedy|Crime,средний рейтинг
31,2,161,3.0,835355493,Crimson Tide (1995),Drama|Thriller|War,средний рейтинг
32,2,165,3.0,835355441,Die Hard: With a Vengeance (1995),Action|Crime|Thriller,средний рейтинг
33,2,168,3.0,835355710,First Knight (1995),Action|Drama|Romance,средний рейтинг
34,2,185,3.0,835355511,"Net, The (1995)",Action|Crime|Thriller,средний рейтинг
35,2,186,3.0,835355664,Nine Months (1995),Comedy|Romance,средний рейтинг
36,2,208,3.0,835355511,Waterworld (1995),Action|Adventure|Sci-Fi,средний рейтинг
37,2,222,5.0,835355840,Circle of Friends (1995),Drama|Romance,высокий рейтинг
38,2,223,1.0,835355749,Clerks (1994),Comedy,низкий рейтинг
39,2,225,3.0,835355552,Disclosure (1994),Drama|Thriller,средний рейтинг

In [7]:
#joined.loc[(joined.rating <= 2), 'class'] = 'низкий рейтинг'
#joined.loc[(joined.rating <= 4) & (joined.rating > 2), 'class'] = 'средний рейтинг'
#joined.loc[(joined.rating > 4), 'class'] = 'высокий рейтинг'
#joined.head(40)

###  Комментарий
Я перевел мои переменные в функцию, наконец до меня дошло как передаются переменные ввиде аргументов. Надеюсь ответ правильный. 
 Но если нет, то я готов биться дальше.

###  Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {
 'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

Результат классификации запишите в отдельный столбец region.

In [8]:
regions = pd.read_csv('keywords.csv')
regions

                       keyword     shows
0                           вк  64292779
1                одноклассники  63810309
2                        порно  41747114
3                         ютуб  39995567
4                    вконтакте  21014195
...                        ...       ...
99995   эльдорадо старый оскол      3705
99996      frigate для firefox      3630
99997                   укрсиб      3630
99998  погода в ялте на неделю      3688
99999                     ггму      3630

[100000 rows x 2 columns]

In [9]:
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}
print(geo_data['Центр'])

['москва', 'тула', 'ярославль']

In [15]:
for region, city_list in geo_data.items():
    #print(region)
    #print(city_list)
    for city in city_list:
        print(city)

москва
тула
ярославль
петербург
псков
мурманск
владивосток
сахалин
хабаровск

In [16]:
def geo_classificator(find_regions):
    for region, city_list in geo_data.items():
        # проходим по каждому городу региона
        for city in city_list:
            if city == find_regions.loc[(find_regions.keyword)]:
                find_regions[region] = region
            else:
                find_regions['undefined'] = region
    return find_regions
            
            # если название города есть в поисковом запросе, то возвращаем название региона region
            # добавьте тут код

    # если ничего не нашлось, то возвращаем undefined
    # добавьте тут код

In [17]:
geo_classificator(regions)

KeyError: "None of [Index(['вк', 'одноклассники', 'порно', 'ютуб', 'вконтакте',\n       'одноклассники моя страница', 'майл', 'авито', 'переводчик', 'яндекс',\n       ...\n       'сколько лет обаме', 'сергей жорин', 'остаться в живых 5 сезон',\n       'петростат официальный сайт', 'мк газета свежий номер',\n       'эльдорадо старый оскол', 'frigate для firefox', 'укрсиб',\n       'погода в ялте на неделю', 'ггму'],\n      dtype='object', length=100000)] are in the [index]"

###  Комментарий
Я запутался с заданием, совсем не идет. 
 Сперва написал кучу кода, ни чего не работало. Находил ошибки, переписвал, всеравно не работает. 
  Нужна новая подсказка/ либо готовое решение чтобы я сверил и сказал - ага!

### Задание 3 (бонусное)
Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл movies.csv и ratings.csv из базы grouplens.org.../movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:
    для каждой строки пройдите по всем годам списка years
    если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
    если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год

Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [18]:
filmi = pd.read_csv('movies.csv')
otsenki = pd.read_csv('ratings.csv')
filmi

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9120,162672,Mohenjo Daro (2016),Adventure|Drama|Romance
9121,163056,Shin Godzilla (2016),Action|Adventure|Fantasy|Sci-Fi
9122,163949,The Beatles: Eight Days a Week - The Touring Y...,Documentary
9123,164977,The Gay Desperado (1936),Comedy
9124,164979,"Women of '69, Unboxed",Documentary

In [19]:
otsenki

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]

In [20]:
years_out = filmi['title']
filmi[['titles', 'year']] = years_out.str.split('(', n=1, expand=True)
filmi.drop('title',axis =1, inplace=True) 
filmi

,movieId,genres,titles,year
0,1,Adventure|Animation|Children|Comedy|Fantasy,Toy Story,1995)
1,2,Adventure|Children|Fantasy,Jumanji,1995)
2,3,Comedy|Romance,Grumpier Old Men,1995)
3,4,Comedy|Drama|Romance,Waiting to Exhale,1995)
4,5,Comedy,Father of the Bride Part II,1995)
...,...,...,...,...
9120,162672,Adventure|Drama|Romance,Mohenjo Daro,2016)
9121,163056,Action|Adventure|Fantasy|Sci-Fi,Shin Godzilla,2016)
9122,163949,Documentary,The Beatles: Eight Days a Week - The Touring Y...,2016)
9123,164977,Comedy,The Gay Desperado,1936)
9124,164979,Documentary,"Women of '69, Unboxed",None

In [21]:
filmi.year.str.rstrip(')')

0       1995
1       1995
2       1995
3       1995
4       1995
        ...
9120    2016
9121    2016
9122    2016
9123    1936
9124    None
Name: year, Length: 9125, dtype: object

In [22]:
filmi_otsenki = filmi.merge(otsenki, how='left', on='movieId')
filmi_otsenki

,movieId,genres,titles,year,userId,rating,timestamp
0,1,Adventure|Animation|Children|Comedy|Fantasy,Toy Story,1995),7.0,3.0,8.518667e+08
1,1,Adventure|Animation|Children|Comedy|Fantasy,Toy Story,1995),9.0,4.0,9.386292e+08
2,1,Adventure|Animation|Children|Comedy|Fantasy,Toy Story,1995),13.0,5.0,1.331380e+09
3,1,Adventure|Animation|Children|Comedy|Fantasy,Toy Story,1995),15.0,2.0,9.979383e+08
4,1,Adventure|Animation|Children|Comedy|Fantasy,Toy Story,1995),19.0,3.0,8.551901e+08
...,...,...,...,...,...,...,...
100058,162672,Adventure|Drama|Romance,Mohenjo Daro,2016),611.0,3.0,1.471524e+09
100059,163056,Action|Adventure|Fantasy|Sci-Fi,Shin Godzilla,2016),NaN,NaN,NaN
100060,163949,Documentary,The Beatles: Eight Days a Week - The Touring Y...,2016),547.0,5.0,1.476419e+09
100061,164977,Comedy,The Gay Desperado,1936),NaN,NaN,NaN
100062,164979,Documentary,"Women of '69, Unboxed",None,NaN,NaN,NaN

In [23]:
filmi_otsenki.replace({'year':'None'}, {'year': '1900'}, regex=True)
# ПЫТАЮСЬ ЗДЕСЬ ПОМЕНЯТЬ None НА 1900, ПОЧЕМУ-ТО НЕ УБИРАЕТСЯ.

,movieId,genres,titles,year,userId,rating,timestamp
0,1,Adventure|Animation|Children|Comedy|Fantasy,Toy Story,1995),7.0,3.0,8.518667e+08
1,1,Adventure|Animation|Children|Comedy|Fantasy,Toy Story,1995),9.0,4.0,9.386292e+08
2,1,Adventure|Animation|Children|Comedy|Fantasy,Toy Story,1995),13.0,5.0,1.331380e+09
3,1,Adventure|Animation|Children|Comedy|Fantasy,Toy Story,1995),15.0,2.0,9.979383e+08
4,1,Adventure|Animation|Children|Comedy|Fantasy,Toy Story,1995),19.0,3.0,8.551901e+08
...,...,...,...,...,...,...,...
100058,162672,Adventure|Drama|Romance,Mohenjo Daro,2016),611.0,3.0,1.471524e+09
100059,163056,Action|Adventure|Fantasy|Sci-Fi,Shin Godzilla,2016),NaN,NaN,NaN
100060,163949,Documentary,The Beatles: Eight Days a Week - The Touring Y...,2016),547.0,5.0,1.476419e+09
100061,164977,Comedy,The Gay Desperado,1936),NaN,NaN,NaN
100062,164979,Documentary,"Women of '69, Unboxed",None,NaN,NaN,NaN

In [33]:
filmi_otsenki_year_filled = filmi_otsenki.fillna(value = {'year':'1900'})

In [35]:
filmi_otsenki_year_filled.sort_values(by =[ 'rating'], ascending=False)
# ОТСОРТИРОВАЛ ПО РЕЙТИНГУ

,movieId,genres,titles,year,userId,rating,timestamp
100060,163949,Documentary,The Beatles: Eight Days a Week - The Touring Y...,2016),547.0,5.0,1.476419e+09
25611,1059,Drama|Romance,William Shakespeare's Romeo + Juliet,1996),28.0,5.0,9.389444e+08
56844,2918,Comedy,Ferris Bueller's Day Off,1986),544.0,5.0,1.435787e+09
11848,367,Action|Comedy|Crime|Fantasy,"Mask, The",1994),275.0,5.0,1.386885e+09
78673,6502,Action|Horror|Sci-Fi,28 Days Later,2002),327.0,5.0,1.225364e+09
...,...,...,...,...,...,...,...
100050,161336,Documentary,Author: The JT LeRoy Story,2016),NaN,NaN,NaN
100051,161582,Crime|Drama,Hell or High Water,2016),NaN,NaN,NaN
100059,163056,Action|Adventure|Fantasy|Sci-Fi,Shin Godzilla,2016),NaN,NaN,NaN
100061,164977,Comedy,The Gay Desperado,1936),NaN,NaN,NaN
100062,164979,Documentary,"Women of '69, Unboxed",1900,NaN,NaN,NaN

С методом fillna передал в новую переменную, а далее отсортировал по рейтингу. 
 Отличное упражнение! Благодарю.